.manga-rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.manga-rows > * {
  flex: 0 0 calc(20% - 20px);  /* This will create 5 cards per row */
  max-width: calc(20% - 20px);
}

@media (max-width: 1200px) {
  .manga-rows > * {
    flex: 0 0 calc(25% - 20px);  /* 4 cards per row */
    max-width: calc(25% - 20px);
  }
}

@media (max-width: 992px) {
  .manga-rows > * {
    flex: 0 0 calc(33.333% - 20px);  /* 3 cards per row */
    max-width: calc(33.333% - 20px);
  }
}

@media (max-width: 768px) {
  .manga-rows > * {
    flex: 0 0 calc(50% - 20px);  /* 2 cards per row */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .manga-rows > * {
    flex: 0 0 100%;  /* 1 card per row */
    max-width: 100%;
  }
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  background-color: #1a0940; /* Adjust this color if needed */
}





.home-header .search-box {
  width: 100%; 
  max-width: 800px; 
}

.home-header .search-box input {
  width: 100%;
  padding: 8px 16px; /* Add some padding to make the input larger */
  font-size: 16px; /* Increase font size for better visibility */
}

/* If the search form is causing issues, ensure it doesn't add extra space */
.home-header .main-content form {
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%; /* Take full width of its container */
}

.home {
  display: flex;
  flex-direction: column;
}
