.manga-rows {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 15px;
  padding: 20px;
  max-width: 1200px; /* Adjust this value as needed */
  margin: 0 auto;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .manga-rows {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .manga-rows {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .manga-rows {
    grid-template-columns: repeat(2, 1fr);
  }
}

.home {
  display: flex;
  flex-direction: column;
}

.manga-card-container img {
  width: 100%; /* Full width of the card */
  height: 250px; /* Fixed height */
  object-fit: cover; /* Maintain aspect ratio */
  border-radius: 10px; /* Rounded corners */
}
