.manga-detail {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .manga-detail h1, .manga-detail h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  
  .description-container {
    margin-bottom: 20px;
  }
  
  .description-toggle {
    background-color: #0a2d5e;
    color: #ffffff;
    border: 2px solid #ffffff; /* Uniform border all around */
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    
  }
  
  .description-toggle:hover {
    background-color:  #071d3d;
    
  }
  
  .manga-description {
    color: #cccccc;
    line-height: 1.6;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .chapter-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  
  .page-container {
    width: 600px;  /* Fixed width */
    height: 900px; /* Fixed height - adjust for desired aspect ratio */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Light grey background for empty space */
  }
  
  .page-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .page-container {
      width: 90vw;  /* 90% of viewport width on smaller screens */
      height: 135vw; /* Maintains 2:3 aspect ratio */
    }
  }

  .chapter-select {
    margin-bottom: 20px;
  }

  .chapter-select select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #ffffff; 
    border-radius: 20px;
    background-color: #0a2d5e;
    color: #ffffff;
    cursor: pointer;
  }

  .chapter-select select:focus {
    outline: none;
    border-color: #ffffff; 
  }

  
  .chapter-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
  }

.page-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  z-index: 1000;

}

.page-navigation button {
  background-color: #0a2d5e;
  color: white;
  border: 2px solid #ffffff; 
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif

}

.page-navigation button:disabled {
  background-color: white;
  color: #0a2d5e;
  border: 2px solid #0a2d5e;
  cursor: not-allowed;
  font-family: Arial, Helvetica, sans-serif

}

.page-navigation span {
  color: white;
  margin: 0 10px;
}

.page-navigation input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 2px;
  background: white;
  outline: none;
  margin: 0 10px;
}


.page-navigation input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.page-navigation input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}